<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quick-and-Dirty Lights</title>

        <!-- Uncomment this for ESP32-side web pages... -->
        <style>[[STYLES]]</style>

        <!-- ... or uncomment this for debugging. Never, ever both! -->
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>

    <body>
        <h1>Firmware update</h1>
        <p>Choose a firmware image file below, then click OK.</p>
        <p>
            <input type="file" class="fileSelect" id="fwfile" name="fwfile" accept=".bin" oninput="onFileSelect(this)" /> 
        </p>
        <div id="uploader" hidden="true">
            <h3 id="fwstatustext">Uploading...</h3>
            <progress id="fwfileprogress" class="uploaderBar" value="0" min="0" max="0" />
        </div>
        <p>
            <input type="button" class="buttonNavigation" value="Back" onclick="goHome();" />
            <input type="submit" class="buttonNavigation" id="buttonOK" value="OK" disabled="true" onclick="uploadStart();" />
        </p>

        <script>
            const buttonOK = document.getElementById("buttonOK");
            const fwFile = document.getElementById("fwfile");
            const maxChunkSize = 32768;
            const progress = document.getElementById("fwfileprogress");
            var remaining = 0;
            const statusText = document.getElementById("fwstatustext");
            const uploader = document.getElementById("uploader");

            function goHome() {
                location.href = "/";
            }

            function onFileSelect(file) {
                buttonOK.disabled = (file.value == "");
            }

            async function uploadStart() {
                const fwFileSize = fwFile.files[0].size;
                var toSend = new FormData();

                /* Set up. */
                buttonOK.disabled = true;
                fwFile.hidden = true;
                progress.max = fwFileSize;
                progress.value = 0;
                uploader.hidden = false;
                remaining = fwFileSize;

                /* Inform the device of how much data to expect. */
                toSend.append('fwFileSize', fwFileSize);
                const response = await fetch("/fwsubmit", {
                    method: "POST",
                    body: toSend
                });

                if(!response.ok) {
                    signalError();
                    return;
                }
                
                /* Chunk and send. */
                while(remaining > 0) {
                    var chunkSize = Math.min(remaining, maxChunkSize);
                    var startIndex = fwFileSize - remaining;
                    var chunkData = fwFile.files[0].slice(startIndex, startIndex + chunkSize);
                    
                    toSend = new FormData();
                    toSend.append("chunkSize", chunkSize);
                    toSend.append("chunkData", chunkData);

                    const response = await fetch("/fwsubmit", {
                        method: "POST",
                        body: toSend
                    });

                    if(response.ok) {
                        progress.value += chunkSize;
                        remaining -= chunkSize;
                    }
                    else {
                        signalError();
                        return;
                    }
                }

                statusText.innerText = "Done!";

                function signalError() {
                    statusText.innerText = "Failed!";
                }
            }
        </script>
    </body>
</html>