<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quick-and-Dirty Lights</title>

        <!-- Uncomment this for ESP32-side web pages... -->
        <style>[[STYLES]]</style>

        <!-- ... or uncomment this for debugging. Never, ever both! -->
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>

    <body onload="onLoad()" onunload="onUnload()">
        <h1>Quick-and-Dirty Lights</h1>
        <p id="status"></p>
        <h2>Colours</h2>
        <p>
            <p>
                <label for="ledr">R</label>
                <input type="range" class="rgbSlider" id="ledr" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_R]]" oninput="onRgbSlider(this, ledrtext);" />
                <input type="number" class="rgbText" id="ledrtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_R]]" oninput="onRgbText(this, ledr);" />
            </p>
            <p>
                <label for="ledg">G</label>
                <input type="range" class="rgbSlider" id="ledg" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_G]]" oninput="onRgbSlider(this, ledgtext);" />
                <input type="number" class="rgbText" id="ledgtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_G]]" />
            </p>
            <p>
                <label for="ledb">B</label>
                <input type="range" class="rgbSlider" id="ledb" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_B]]" oninput="onRgbSlider(this, ledbtext);" />
                <input type="number" class="rgbText" id="ledbtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_B]]" />
            </p>
        </p>

        <h2>Behaviour</h2>
        <p>
            <p>
                <label for="lightingmode">Lighting mode</label>
                <select id="lightingmode" onchange="onLightingMode(this, true);">
                    <option value="0">Off</option>
                    <option value="1">On when any switch is active</option>
                    <option value="2">On when all switches are active</option>
                    <option value="3">On always</option>
                </select>
            </p>
            <p>
                <label for="switchpolarity" id="switchpolaritylabel">Switch polarity</label>
                <select id="switchpolarity" onchange="onSwitchPolarity(this, true)">
                    <option value="0">Normally open</option>
                    <option value="1">Normally closed</option>
                </select>
            </p>
            <p>
                <label for="sleepmode">Sleep mode</label>
                <select id="sleepmode" onchange="onSleepMode(this, true);">
                    <option value="0">Never</option>
                    <option value="1">When lights are off</option>
                </select>
            </p>
        </p>

        <h2>Network</h2>
        <p>
            <label for="hostname">Hostname</label>
            <input type="text" class="textBox" id="hostname" value="[[CONFIG_NETWORKHOSTNAME]]" onchange="onHostname(this);" />
        </p>
        <p>
            <label for="wifimode">WiFi mode</label>
            <select id="wifimode" onchange="onWifiMode(this, true);">
                <option value="0">Access point</option>
                <option value="1">Connect to network</option>
            </select>
            <p id="wifisearchdisabler">
                <input type="button" class="buttonNavigation" id="wifisearch" value="Search for networks" onclick="onWifiSearch(this);" />
            </p>
        </p>

        <p><br><input type="button" class="buttonNavigation" id="save" value="Save settings to flash" onclick="onSaveSettings();"></p>

        <script>
            const ws = new WebSocket("ws://[[CONFIG_NETWORKHOSTNAME]].local/ws");

            ws.addEventListener("close", (event) => {
                updateStatus("Disconnected", "red");
            });
            
            ws.addEventListener("error", (event) => {
                console.error("Websocket gave error:", event);
                updateStatus("Websocket error", "red");
            });

            ws.addEventListener("message", (event) => {
                if(event.data == "restart") {
                    location.href = "/restart";
                }
            });

            function onHostname(text) {
                var hostnameVal = text.value;
                ws.send(`networkHostname: ${hostnameVal}`);
            }

            function onLightingMode(dropdown, fromUI) {
                var lightingMode = dropdown.value;
                var switchpolarity = document.getElementById("switchpolarity");
                var switchpolaritylabel = document.getElementById("switchpolaritylabel");
                var shouldHide = (lightingMode == "off");
                
                switchpolarity.hidden = shouldHide;
                switchpolaritylabel.hidden = shouldHide;

                if(fromUI) {
                    ws.send(`lightingMode: ${lightingMode}`);
                }
            }

            function onLoad() {
                /* We have to set the values of the dropdowns here because doing it in HTML is nasty. */
                var lightingMode = document.getElementById("lightingmode");
                var wifiMode = document.getElementById("wifimode");

                lightingMode.value = "[[CONFIG_LIGHTINGMODE]]";
                wifiMode.value = "[[CONFIG_NETWORKISSTA]]";
                document.getElementById("sleepmode").value = "[[CONFIG_SLEEPMODE]]";
                document.getElementById("switchpolarity").value = "[[CONFIG_SWITCHPOLARITY]]";

                onLightingMode(lightingMode, false);
                onWifiMode(wifiMode);
            }

            function onRgbSlider(slider, text) {
                text.value = slider.value;

                var colour = (ledr.value << 16) | (ledg.value << 8) | (ledb.value);
                ws.send(`lightingColour: ${colour}`);
            }

            function onRgbText(text, slider) {
                slider.value = text.value;
            }

            function onSaveSettings() {
                ws.send("save");
            }

            function onSleepMode(dropdown, fromUI) {
                var sleepModeVal = dropdown.value;
                if(fromUI) {
                    ws.send(`sleepMode: ${sleepModeVal}`);
                }
            }

            function onSwitchPolarity(dropdown, fromUI) {
                var swPolVal = dropdown.value;
                if(fromUI) {
                    ws.send(`switchPolarity: ${swPolVal}`);
                }
            }

            function onUnload() {
                ws.close();
            }

            function onWifiMode(dropdown, fromUI) {
                var wifiSearchDisabler = document.getElementById("wifisearchdisabler");
                var isSTAVal = dropdown.selectedIndex;
                var shouldDisable = (isSTAVal == 0);

                wifiSearchDisabler.disabled = shouldDisable;
                if(fromUI) {
                    ws.send(`networkIsSTA: ${isSTAVal}`);
                }
            }

            function onWifiSearch(button) {
                const searchTime = 3000;

                button.disabled = true;
                button.value = "Searching...";

                ws.send("wifiSearch");
                setTimeout(() => {
                    location.href = "/wifisearch";
                }, searchTime);
            }

            function updateStatus(statusText, colour = "black") {
                var status = document.getElementById("status");
                status.innerHTML = "<i>" + statusText + "</i>";
                status.style.colour = colour;
            }
        </script>
    </body>
</html>