p, text, td, tr, th {
    font-family: trebuchet ms;
    color: black;
}

body {
    background-color: dimgrey;
}

h1 {
    font-size: 60;
    font-family: trebuchet ms;
    text-align: center;
}

h2 {
    font-size: 40;
    font-family: trebuchet ms;
    text-align: center;
}

h3 {
    font-size: 30;
    font-family: trebuchet ms;
    text-align: center;
}

p, tr {
    font-size: 30;
    text-align: center;
}

div {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
}

.buttonNavigation {
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    font-family: trebuchet ms;
    font-size: 12px;
    text-align: center;
    transition-duration: 0.4s;
    padding: 20px;
}

.fileSelect {
    font-family: trebuchet ms;
    transition-duration: 0.4s;
}

.rgbSlider, select {
    margin-left: 20px;
    width: 200px;
}

.rgbText {
    margin-left: 5px;
    width: 50px;
}

.textBox {
    margin-left: 15px;
}

.passwordBox {
    margin-left: 20px;
    width: 190px;
}

.uploaderBar {
    display: inline-block;
    width: 350px;
    height: 30px;
}