<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quick-and-Dirty Lights</title>

        <!-- Uncomment this for ESP32-side web pages... -->
        <style>[[STYLES]]</style>

        <!-- ... or uncomment this for debugging. Never, ever both! -->
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>

    <body onload="onLoad()">
        <h1>Quick-and-Dirty Lights</h1>
        <h2>Colours</h2>
        <p>
            <p>
                <label for="ledr">R</label>
                <input type="range" class="rgbSlider" id="ledr" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_R]]" oninput="onRgbSlider(this, ledrtext);" />
                <input type="number" class="rgbText" id="ledrtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_R]]" oninput="onRgbText(this, ledr);" />
            </p>
            <p>
                <label for="ledg">G</label>
                <input type="range" class="rgbSlider" id="ledg" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_G]]" oninput="onRgbSlider(this, ledgtext);" />
                <input type="number" class="rgbText" id="ledgtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_G]]" />
            </p>
            <p>
                <label for="ledb">B</label>
                <input type="range" class="rgbSlider" id="ledb" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_B]]" oninput="onRgbSlider(this, ledbtext);" />
                <input type="number" class="rgbText" id="ledbtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_B]]" />
            </p>
            <!-- TODO: onclick for ledsave -->
            <p><input type="button" class="buttonNavigation" id="ledsave" value="Save LED colours"></p>
        </p>

        <h2>Behaviour</h2>
        <p>
            <p>
                <label for="ledmode">LED mode</label>
                <select id="ledmode" onchange="onLedMode();">
                    <option value="off">Off</option>
                    <option value="onany">On when any switch is active</option>
                    <option value="onall">On when all switches are active</option>
                    <option value="on">On always</option>
                </select>
            </p>
            <p>
                <label for="swpol" id="swpollabel">Switch polarity</label>
                <select id="swpol">
                    <option value="no">Normally open</option>
                    <option value="nc">Normally closed</option>
                </select>
            </p>
        </p>

        <h2>Network</h2>
        <p>
            <label for="wifimode">WiFi mode</label>
            <select id="wifimode" onchange="onWifiMode();">
                <option value="ap">Access point</option>
                <option value="sta">Connect to network</option>
            </select>
            <p id="wifisearchhider">
                <input type="button" class="buttonNavigation" id="wifisearch" value="Search for networks" onclick="location.href='/wifisearch';"/>
            </p>
        </p>

        <script>
            function onLedMode() {
                var swpol = document.getElementById("swpol");
                var swpolLabel = document.getElementById("swpollabel");
                var shouldHide = (document.getElementById("ledmode").value == "off");
                
                swpol.hidden = shouldHide;
                swpolLabel.hidden = shouldHide;
            }

            function onLoad() {
                onLedMode();
                onWifiMode();
            }

            function onRgbSlider(slider, text) {
                text.value = slider.value;
            }

            function onRgbText(text, slider) {
                slider.value = text.value;
            }

            function onWifiMode() {
                var wifiSearchHider = document.getElementById("wifisearchhider");
                var shouldHide = (document.getElementById("wifimode").value == "ap");

                wifiSearchHider.hidden = shouldHide;
            }
        </script>
    </body>
</html>