<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quick-and-Dirty Lights</title>

        <!-- Uncomment this for ESP32-side web pages... -->
        <style>[[STYLES]]</style>

        <!-- ... or uncomment this for debugging. Never, ever both! -->
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>

    <body onload="onLoad()" onunload="onUnload()">
        <h1>Quick-and-Dirty Lights</h1>
        <h2>Colours</h2>
        <p>
            <p>
                <label for="ledr">R</label>
                <input type="range" class="rgbSlider" id="ledr" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_R]]" oninput="onRgbSlider(this, ledrtext);" />
                <input type="number" class="rgbText" id="ledrtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_R]]" oninput="onRgbText(this, ledr);" />
            </p>
            <p>
                <label for="ledg">G</label>
                <input type="range" class="rgbSlider" id="ledg" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_G]]" oninput="onRgbSlider(this, ledgtext);" />
                <input type="number" class="rgbText" id="ledgtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_G]]" />
            </p>
            <p>
                <label for="ledb">B</label>
                <input type="range" class="rgbSlider" id="ledb" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_B]]" oninput="onRgbSlider(this, ledbtext);" />
                <input type="number" class="rgbText" id="ledbtext" min="0" max="255" value="[[CONFIG_LIGHTINGCOLOUR_B]]" />
            </p>
        </p>

        <h2>Behaviour</h2>
        <p>
            <p>
                <label for="ledmode">LED mode</label>
                <select id="ledmode" onchange="onLedMode(true);">
                    <option value="0">Off</option>
                    <option value="1">On when any switch is active</option>
                    <option value="2">On when all switches are active</option>
                    <option value="3">On always</option>
                </select>
            </p>
            <p>
                <label for="swpol" id="swpollabel">Switch polarity</label>
                <select id="swpol" onchange="onSwitchPolarity()">
                    <option value="0">Normally open</option>
                    <option value="1">Normally closed</option>
                </select>
            </p>
        </p>

        <h2>Network</h2>
        <p>
            <label for="hostname">Hostname</label>
            <input type="text" class="textBox" value="[[CONFIG_HOSTNAME]]" oninput="onHostname();" />
        </p>
        <p>
            <label for="wifimode">WiFi mode</label>
            <select id="wifimode" onchange="onWifiMode();">
                <option value="0">Access point</option>
                <option value="1">Connect to network</option>
            </select>
            <p id="wifisearchhider">
                <input type="button" class="buttonNavigation" id="wifisearch" value="Search for networks" onclick="onWifiSearch(this);" />
            </p>
        </p>

        <p><input type="button" class="buttonNavigation" id="save" value="Save settings to flash" onclick="onSaveSettings();"></p>

        <script>
            const ws = new WebSocket("ws://qad-lights.local/ws");

            ws.addEventListener("error", (event) => {
                console.error("Websocket gave error:", event);
            });

            function onLedMode(fromUI) {
                var ledMode = document.getElementById("ledmode").value;
                var swpol = document.getElementById("swpol");
                var swpolLabel = document.getElementById("swpollabel");
                var shouldHide = (ledMode == "off");
                
                swpol.hidden = shouldHide;
                swpolLabel.hidden = shouldHide;

                if(fromUI)
                    ws.send(`lightingMode: ${ledMode}`);
            }

            function onHostname() {
                var hostnameVal = document.getElementById("hostname").value;
                ws.send(`hostname: ${hostnameVal}`);
            }

            function onLoad() {
                onLedMode(false);
                onWifiMode();

                /* We have to set the values of the dropdowns here because doing it in HTML is nasty. */
                document.getElementById("ledmode").value = "[[CONFIG_LIGHTINGMODE]]";
                document.getElementById("wifimode").value = "[[CONFIG_WIFIMODE]]";
                document.getElementById("swpol").value = "[[CONFIG_SWITCHPOLARITY]]";
            }

            function onRgbSlider(slider, text) {
                text.value = slider.value;

                var colour = (ledr.value << 16) | (ledg.value << 8) | (ledb.value);
                ws.send(`lightingColour: ${colour}`);
            }

            function onRgbText(text, slider) {
                slider.value = text.value;
            }

            function onSaveSettings() {
                ws.send("save");
            }

            function onSwitchPolarity() {
                var swPolVal = document.getElementById("swpol").value;
                ws.send(`switchPolarity: ${swPolVal}`);
            }

            function onUnload() {
                ws.close();
            }

            function onWifiMode() {
                var wifiSearchHider = document.getElementById("wifisearchhider");
                var shouldHide = (document.getElementById("wifimode").value == "0");

                wifiSearchHider.hidden = shouldHide;
            }

            function onWifiSearch(button) {
                const searchTime = 3000;

                button.disabled = true;
                button.value = "Searching...";

                ws.send("wifiSearch");
                setTimeout(() => {
                    location.href = "/wifisearch";
                }, searchTime);
            }
        </script>
    </body>
</html>