<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quick-and-Dirty Lights</title>

        <!-- Uncomment this for ESP32-side web pages... -->
        <style>[[STYLES]]</style>

        <!-- ... or uncomment this for debugging. Never, ever both! -->
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>

    <body onload="waitForRestart();">
        <h1>Please wait...</h1>
        <p>The device is restarting...</p>
    </body>

    <script>
        const waitTime = 30000;
        function waitForRestart() {
            setTimeout(() => {
                location.href = "/";
            }, waitTime);
        }
    </script>
</html>