<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quick-and-Dirty Lights</title>

        <!-- Uncomment this for ESP32-side web pages... -->
        <style>[[STYLES]]</style>

        <!-- ... or uncomment this for debugging. Never, ever both! -->
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>

    <body onload="sendAck()">
        <h1>Settings saved!</h1>
        <p>
            Your settings have been saved to flash and the device will now restart.<br>
            Please make sure you're connected to the correct WiFi network, then click the button below to continue.
        </p>
        <p>
            <input type="button" class="buttonNavigation" value="OK", onclick="location.href='http://[[CONFIG_NETWORKHOSTNAME]].local/';" />
        </p>
    </body>

    <script>
        const ws = new WebSocket("/ws");

        function sendAck() {
            /* Wait a lil' bit before potentially firing off a string on a Websocket connection
             * that hasn't even been established yet! */
            const waitMs = 1000;

            setTimeout(() => {
                ws.send("loadedrestart");
            }, waitMs);
        }
    </script>
</html>